.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 1500px;
}
.Container{
  border: 1px solid black;
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  background: 
  linear-gradient(169.47deg, rgba(4, 31, 27, 0.98) 14.76%, #380C4A 25.62%, #3B0E46 29.25%, #3D0F42 33.37%, #441436 40.15%, #33254E 46.18%, #2B2D59 52.47%, #292654 57.59%, #271F4F 62.33%, #240D37 74.06%, #22052D 88.22%, #22052D 125.39%, #22052D 154.65%, #22052D 154.67%),
  radial-gradient(26.86% 9.25% at 52.64% 24.47%, rgba(78, 26, 69, 0.2) 0%, rgba(69, 20, 43, 0.2) 14.29%, rgba(69, 20, 43, 0.2) 28.57%, rgba(61, 14, 18, 0.2) 42.86%, rgba(61, 13, 15, 0.2) 57.14%, rgba(61, 13, 15, 0.2) 71.43%, rgba(61, 13, 15, 0.2) 85.71%, rgba(60, 13, 13, 0.2) 100%);
}
.cardEntry{
  border: 1px solid floralwhite;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  background: white;
}
.dataEntry{
  /* border: 1px solid black; */
  height: 400px;
  width: 50%;
  margin-top: 80px;
  margin-right: 50px;
}
.labelName{
  width: 144px;
height: 9px;
top: 5px;
position: relative;
font-family: "Croissant One", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0.155em;
text-align: left;
}
.entryName{
  width: 300px;
height: 44px;
top: 10px;
left: 8px;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.13);
position: relative;
}
.LabelNumber{
  width: 144px;
height: 9px;
top: 30px;
position: relative;
font-family: "Croissant One", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0.155em;
text-align: left;
}
.entryNumber{
  width: 300px;
height: 44px;
top: 38px;
left: 8px;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.13);
position: relative;
}
.LabelExpdate{
  width: 144px;
height: 9px;
top: 40px;
position: relative;
font-family: "Croissant One", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0.155em;
text-align: left;
}
.entryMonth{
  width: 78px;
height: 20px;
top: 50px;
left: 8px;
text-align: center;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.13);
position: relative;
}
.entryYear{
  width: 78px;
height: 20px;
top: 27px;
left: 100px;
text-align: center;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.13);
position: relative;
}
.LabelCvv{
  width: 144px;
height: 9px;
top: -25px;
left: 220px;
position: relative;
font-family: "Croissant One", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0.155em;
text-align: left;
}
.entryCvv{
  width: 120px;
height: 20px;
top: -20px;
left: 200px;
text-align: center;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.13);
position: relative;
}
.submit{
  width: 320px;
height: 53px;
position: relative;
top: 0px;
left: 9px;
border-radius: 6px;
}
.entryName,
.entryNumber,
.entryMonth,
.entryYear,
.entryCvv {
  /* Other styles for your input fields */
  overflow: hidden;
}
.text{
  width: 63px;
height: 16px;
font-family: 'Inter';
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.01em;
text-align: left;
}


.errors{
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
position: relative;
text-align: left;
width: 125px;
height: 15px;
top: 10px;
left: 10px;
color: rgba(248, 18, 18, 1);
}
.errorsNumber{
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
position: relative;
text-align: left;
width: 125px;
height: 15px;
top: 35px;
left: 10px;
color: rgba(248, 18, 18, 1); 
}

.errorsCvv{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  position: relative;
  text-align: left;
  width: 125px;
  height: 15px;
  top: -15px;
  left: 200px;
  color: rgba(248, 18, 18, 1); 
}
.errorsYear{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  position: relative;
  text-align: left;
  width: 125px;
  height: 15px;
  top: -35px;
  left: 25px;
  color: rgba(248, 18, 18, 1); 
}


